<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/static/level.css">
        <script src="/static/packages/jquery/jquery-3.6.3.min.js"></script>
        <script src="/static/packages/codemirror/codemirror-6.65.7.min.js"></script>
        <script src="/static/packages/codemirror/coq.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/packages/codemirror/codemirror-6.65.7.min.css">
        <style>
            .CodeMirror {
                height: auto;
                border: 1px solid black;
            }
        </style>
        <script>
            var socket;
            const socketReconnectInterval = 2000; // ms

            function initSocket() {
                socket = new WebSocket("{{ WEBSOCKET_SCHEME }}://{{ host }}{{ url_for('compile', _world=_world, _level=_level) }}");

                socket.onclose = function(event) {
                    // attempt reconnect on close (also happens on error)
                    setTimeout(() => initSocket(), socketReconnectInterval);
                };

                socket.addEventListener("open", (event) => {
                    console.log("Connected!");
                });

                socket.addEventListener("message", (event) => {
                    let data = JSON.parse(event.data);
                    console.log(data);
                    $("#goals").html(`<pre>${data.goal}</pre>`)
                });
            }

            initSocket("wss");

            var typingTimer;
            const doneTypingInterval = 250; // ms

            $(window).on("load", function() {
                $(".tactic .header").on("click", function() {
                    $(this).parent().find(".tactic-body").first().toggleClass("hidden");
                })

                var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
                    mode: "text/x-coq",
                    indentUnit: 2,
                    lineNumbers: true,
                    viewportMargin: Infinity,
                });
                editor.setValue("");
                editor.on("keydown", function(e) { clearTimeout(typingTimer); });
                editor.on("keyup", function(e) {
                    clearTimeout(typingTimer);

                    // renew timer
                    typingTimer = setTimeout(() => {
                        // get text up to cursor
                        let text = "";
                        let line = e.doc.getCursor().line;
                        let char = e.doc.getCursor().ch;
                        for (let i = 0; i < line; i++) {
                            text += e.doc.getLine(i) + "\n";
                        }
                        text += e.doc.getLine(line).substr(0, char);
                        socket.send(text);
                    }, doneTypingInterval);
                });
            });
        </script>
    </head>
    <body>
        <div class="navigation">
            <div>
                <div class="navbutton">Main Menu</div>
                <div class="navbutton inactive">Previous Level</div>
            </div>
            <div><!-- Padding between buttons --></div>
            <div>
                <div class="navbutton">Reset</div>
                <div class="navbutton">Next Level</div>
            </div>
        </div>
        <div class="column-container">
            <div class="column tactics">
                {%- if tactics -%}
                <div class="tactic">
                    <div class="header">
                        <h3>Tactics</h3>
                    </div>
                    <div class="tactic-body hidden">
                        {%- for tactic in tactics -%}
                        <div class="tactic">
                            <div class="header">
                                <h3><code>{{ tactic["name"] }}</code></h3>
                            </div>
                            <div class="tactic-body hidden">
                                <h5>Description</h5>
                                {{ tactic["description"]|format_code_in_text|safe }}
                                {%- if tactic["example"] -%}
                                <h5>Example</h5>
                                <pre class="example">{{ tactic["example"] }}</pre>
                                {%- endif -%}
                            </div>
                        </div>
                        {%- endfor -%}
                    </div>
                </div>
                {%- endif -%}
                
                {%- if theorems -%}
                <div class="tactic">
                    <div class="header">
                        <h3>Theorems</h3>
                    </div>
                    {%- for world in theorems -%}
                    <div class="tactic-body hidden">
                        <div class="tactic">
                            <div class="header">
                                <h3><code>{{ WORLDS[world["world"]]["name"] }}</code></h3>
                            </div>
                            <div class="tactic-body hidden">
                                {%- for theorem in world["theorems"] -%}
                                <div class="theorem">
                                    <pre>{{ theorem["statement"] }}</pre>
                                </div>
                                {%- endfor -%}
                            </div>
                        </div>
                    </div>
                    {%- endfor -%}
                </div>
                {%- endif -%}
            </div>
            <div class="column main">
                <h1>{{ world["name"]|format_code_in_text|safe }}</h1>
                <h3>{{ level["name"]|format_code_in_text|safe }}</h3>

                {{ level["prologue"]|format_paragraphs_in_text|format_code_in_text|safe }}
                
                <div class="lemma"><code>{{ level["lemma"] }}</code></div>
                <code>Proof.</code>
                <div class="editor">
                    <textarea id="editor"></textarea>
                </div>    
                <code>Qed.</code>

                {{ level["epilogue"]|format_paragraphs_in_text|format_code_in_text|safe }}
            </div>
            <div class="column compilers">
                <div class="compiler">
                    <div class="header">
                        <h3>Goals</h3>
                    </div>
                    <div id="goals"></div>
                </div>

                <div class="messages">
                    <div class="header">
                        <h3>Messages</h3>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
